{{! 二维码 }}
<div class="widget widget-tag-cloud">
	<div class="widget-title">
		<div class="widget-title-meta">
			<i class="fa fa-tags"></i>&nbsp;
			<span class="title-meta-word">公众号</span>
		</div>
	</div>
	<div class="tag-cloud-content">

    <hr><div style=" text-align:center"><img src="http://image.bug2048.com/erweima.jpg?imageView2/1/w/100/h/100/q/75" alt="欢迎关注我的公众号" /></div>
    <hr><div style=" text-align:center"><img src="http://image.bug2048.com/xiaochengxu.jpg?imageView2/1/w/100/h/100/q/75" alt="欢迎关注我的公众号" /></div>
	</div>
</div>